 <div class="col-lg-4 col-md-6">
        <div class="card-style project-card mb-30" onclick="ViewFileContent('Chăm chỉ',1, 'fileGDVN769-9a18ff80-7cf3-485f-8f07-0e7ab853a5b6.doc', null, null)">
            <img src="@Url.Content("~/Content/Thumbnail/avatarGDVN856-83f0c903-16b9-4c7b-97ce-2b504434a323.png" )" style="border-radius: 20px;" class="card-img-top" height="350" alt="Chăm chỉ">

            <div class="card-body">
                <div>
                    <h5>Test word</h5>
                </div>

            </div>

            <div class="card-footer p-0 bg-transparent">
                <div style="padding-top: 10px;">
                    <p style="font-size: 15px;">Tác giả: Mr Khoa</p>
                </div>
            </div>

        </div>
        <!-- End Card -->
    </div>
